@model LaptopsLLC.Laptop

@{
    ViewBag.Title = "EditQuantity ";
}

    <h2>Edit Quantity </h2>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BrandId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BrandId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DollarValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DollarValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityAvailable)
        </dd>

    </dl>
</div>

@using (Html.BeginForm())
{
<div>
    Quantity  : @Html.TextBoxFor(model => model.QuantityAvailable)
    <input type="submit" value="Change Quantity" />
</div>
}
